<div class="row">
  <h1 class="col-12 text-center">Seller Transactions</h1>
</div>
<div class="row">
  <div class="col-12">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Fees</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of loadedTransactions">
          <th scope="row">{{ transaction.id }}</th>
          <td>{{ transaction.title }}</td>
          <td>{{ transaction.fees }}</td>
          <td>{{ transaction.amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
